/*--------------------About us css--------------------**/

/*------------Rese---------- */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /*DEN SKAL ÆNDRES*/
}

/*---------BODY--------*/
body {
  background-color: #fdfcfa;
  padding: 20px;
  display: flex;
  justify-content: center;
}

/*-Mobile first version (En kollone - grid)-*/
.about_container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  gap: 20px;
}

.about h1,
.find_us h2 {
  margin-bottom: 15px;
  margin: 40px;
}

.about p,
.find_us p {
  margin-bottom: 10px;
  line-height: 1.5;
  margin: 40px;
}

.find_us ul {
  list-style: none;
  padding: 0;
  margin: 40px;
}

/*-----------Billederne--------*/
.image,
.map {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img,
.map img {
  max-width: 100%;
}

.map a img {
  transition: opacity 0.3s ease;
}

.map a:hover img {
  opacity: 0.8;
}

/* ---- Desktop version (to grid - kolloner) ---- */
@media (min-width: 768px) {
  .about_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 40px;
    max-width: 1000px;
  }

  /*--------About Us-------*/
  .about {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  /*--------Billederne------*/
  .image {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  /*-------Find Us------*/
  .find_us {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  /*---------Map-------*/
  .map {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}
