header {
  z-index: 1;
}

.overskrift a {
  color: var(--highlight);
}



.overskrift {
  width: 30%;
  display: flex;
  justify-content: center; /* Centrerer vandret */
  align-items: center; /* Centrerer lodret */
  margin: 0 auto; /* Centrerer elementet i forhold til forælderens bredde */
  padding-top: 60px;
  padding-bottom: 20px;
}

.billeder {
  display: none;
}

main h1,
footer h1 {
  display: none;
}

main h2,
footer h2 {
  display: none;
  font-family: "lora";
  font-size: 22px;
}

.desktop-knap {
  display: none;
}

.mobile-knap {
  border: 1px;
  padding: 8px;
  background-color: var(--highlight);
  border-radius: 10px;
  color: var(--bgcol);
  display: flex; /* Synlig på mobil */
  justify-content: center; /* Centrerer tekst i knappen */
  width: 50%; /* Justér bredden */
  max-width: 200px;
  cursor: pointer;
}

.knapper {
  display: flex;
  flex-direction: column; /* Stabler knapperne lodret */
  align-items: center; /* Centrerer dem horisontalt */
  gap: 20px; /* Afstand mellem knapper */
  padding-top: 40px;
}

.mobile-knap:hover {
  background-color: #6094bf;
}

main p,
footer p {
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  font-family: "open sans";
  font-size: 14px;
  font-weight: 200;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .billeder {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1%;
    margin-bottom: 1%;

  }

  .billeder div{
    transform: scale(90%);
    overflow: hidden;
    
  }

  p.firsttext{
    padding-top: 15vh;
    margin: 0;
  }

  .billeder img {
    width: 100%;
    
    
  }

  .knapper {
    background-color: #f2f8ff;
    display: flex;
    flex-direction: row; /* Lægger knapperne på en linje */
    justify-content: center; /* Centrerer knapperne samlet */
    gap: 50px; /* Afstand mellem knapper */
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .desktop-knap {
    display: flex; /* Flexbox på knappen */
    background-color: var(--highlight);
    border-radius: 10px;
    color: var(--bgcol);
    padding: 10px;
    text-decoration: none;
    flex: 1; /* Gør knapperne lige store */
    text-align: center;
    align-items: center; /* Centrerer teksten lodret */
    justify-content: center; /* Centrerer teksten vandret */
    max-width: 170px; /* Maksimal bredde */
    border: none;
    cursor: pointer;
  }

  .desktop-knap a {
    text-align: center;
  }

  .desktop-knap:hover {
    background-color: #6094bf;
  }

  .mobile-knap {
    display: none;
  }

  h1.main,
  h1.footer {
    display: block;
    text-align: center;
    padding-top: 80px;
    font-family: "lora";
    font-size: 40px;
    font-weight: 300;
  }

  h2.main,
  h2.footer {
    display: block;
    text-align: center;
    font-size: 28px;
    font-weight: 300;
  }

  .h1.main,
  h1.footer {
    display: none;
  }

  p.main,
  p.footer {
    font-size: 16px;
    max-width: 1000px; /* Begræns linjelængden */
    margin: 0 auto; /* Centrer teksten */
    word-wrap: break-word; /* Sikrer, at ord brydes, hvis de er for lange */
    padding-top: 3px;
    padding-bottom: 5px;
  }

  .overskrift {
    display: none;
  }
}
