:root {
  --bgcol: rgb(236, 236, 236); /*Baggrundsfarven defineres her*/
  --textcol: rgb(19, 19, 19); /*Textfarven defineres her*/
  --highlight: #005fad; /*Highlight farve - bruges på at styre opmærksomhed på f.eks læg i
    kurv knap*/
  --darkerhighlight: #00345f;
  list-style: none;
  font-family: "Open Sans", sans-serif;

}

.lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}

.josefin-sans {
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}

.open-sans {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h1{
    font-family: "Lora", sans-serif;
}

h2,
h3{
    font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: var(
    --bgcol
  ); /*Sådan bruges variablerne som defineret ovenfor. Når variablen
    ændres, ændres farven på alle de ting hvor denne variabel bruges. Man kan også bruge disse variabler
    i lokale CSS filer (eks: index.css) selv om de er defineret i dette globale stylesheet.*/
  padding: 0;
  margin: 0;
}
/* Header samt burgermenu (mobil)*/
header {
  width: 100%;
  position: fixed;
  margin: 0;
  overflow: hidden;
  scrollbar-width: none;
  z-index: 5 !important;
  
  
}

.headerbg {
  background-color: #f9fcff;
  opacity: 90%;
  backdrop-filter: blur(8px);
}

#headercontent {
  position: absolute;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  transition: 0.1s ease-in-out;
  transform: translateX(100%);
  /* background-color: red; */
  /*background-color: red; ovenfor er bare for debugging.*/
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4%;
  /* scrollbar-width: none; */
}

#headercontent > nav{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

a.logo {
    margin-left: 50vw;
  height: 20vw;
  aspect-ratio: 1 / 1;
  background-color: var(--darkerhighlight);
  mask-image: url(nua_logo.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  transition: 0.1s ease-in-out;
}

a.logo:hover {
  background-color: var(--highlight);
}

header.active #headercontent{
  transform: translateX(0);
}

header.active {
    height: 100vh;
    overflow-y: auto;

    
  }

/* Burger animation: */

button#burger {
  border-radius: 0;
  background-color: transparent;
  /* background-color: red; */
  /*background-color: red; ovenfor er bare for debugging.*/
  cursor: pointer;
  border-style: none;
  width: 50px;
  aspect-ratio: 7/6;
  padding: 0;
  margin: 1%;
  position: fixed;
  z-index: 1;
}

.line {
  position: absolute;
  background-color: var(--darkerhighlight);
  width: 100%;
  height: 2px;
  border-radius: 10px;
  transition: 0.1s ease-in-out;
  transform-origin: 100%;
}

button#burger :first-child {
  transform: translateY(-2cqh);
}

button#burger :last-child {
  transform: translateY(2cqh);
}

button#burger.active :first-child {
  transform: translateX(-15%) rotate(45deg) scaleX(50%);
}

button#burger.active :nth-child(2) {
  transform: translateX(-15%) scaleX(70%);
}

button#burger.active :last-child {
  transform: translateX(-15%) rotate(-45deg) scaleX(50%);
}
#headercontent a.cart,
#headercontent .dropdown{
    width: 90vw;
    border-radius: 5vw;
    margin: 4%;
}

#headercontent .dropdownheader{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    cursor: pointer;
    border-radius: 5vw;


}




#headercontent .headercont,
#headercontent a.cart > p{
    text-transform: capitalize;
    margin: 2%;
    width: 100%;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    color: var(--darkerhighlight);
    font-size: 1.5rem;
}

#headercontent a.headercont{
  color: var(--highlight);
  width: 100%;
  margin-left: 0;
  font-size: 1.1rem;
}



#headercontent .navcontent > a.standard {
    margin: 10%;
    transform: translateX(-10%);
    text-align: right;

    margin-left: 0%;
    color: var(--darkerhighlight);
    font-size: 1.1rem;



}

#headercontent .dropdown > p{
    color: var(--highlight);


}

#headercontent .dropdown .dropdownheader .arrow{
    height: auto;
    width: 1.5rem;
    mask-image: url(ui/actions/chevron_r.svg);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: var(--darkerhighlight);
    transition: 0.05s ease-in-out;
    transform:  translateX(-80%);

}

#headercontent .dropdown.active > .dropdownheader > .arrow{
    transform:  translateX(-80%) rotate(90deg);

}
.navcontent{
    max-height: 0;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}
.navcontent .navcontent> a,
.navcontent  .dropdownheader > p{
  text-align: center;
    font-size: 1.2rem !important;
    color: var(--textcol) !important;
}

.navcontent  .navcontent > a{
  color: var(--highlight) !important;


}


.navcontent .dropdownheader > .arrow{
    width: 1.2rem !important;
    background-color: var(--textcol) !important;
}

.navcontent .navcontent{
    transition: 0.2s ease-in-out;


}

#headercontent .navcontent > * {
    display: block;
    margin-top: 5%;
    margin-left: 10%; /* Indent more for each level */
    width: 90%; /* Prevent expanding beyond screen */
}

#headercontent a.cart{

    background-color: var(--highlight);
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    border-radius: 5vw;
    margin-right: 10vw;
    width: 80vw;
    text-decoration: none;
    
}

#headercontent a.cart > p{
    color: var(--bgcol);
    
}

#headercontent a.cart > .cart{
    height: auto;
    width: 1.5rem;
    mask-image: url(ui/cart/shopping_cart_empty.svg);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    background-color: var(--bgcol);
    transition: 0.05s ease-in-out;
    transform:  translateX(-120%) scale(110%);
}

/*-------------------*/
